body {
  background: #111;
  color: #fff;
  text-align: center;
  font-family: Arial, sans-serif;
}

canvas {
  background: #333;
  border: 3px solid #fff;
  display: block;
  margin: 10px auto;
}
